@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@font-face {
  font-family: oswald;
  src: url(/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: prompt;
  src: url(/fonts/Prompt-Regular.ttf);
}
@font-face {
  font-family: monoton;
  src: url(/fonts/Monoton-Regular.ttf);
}
@font-face {
  font-family: hyberBlaster;
  src: url(/fonts/HYPERBLA.ttf);
}
@font-face {
  font-family: saint;
  src: url(/fonts/MrsSaintDelafield-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#navbar.active {
  animation: fadeNav 0.6s linear forwards;
  @apply shadow-cardShadow h-24 bg-white text-black;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#sideBar {
  animation: sideNav 0.4s linear forwards;
  z-index: 999;
}

@keyframes sideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
