@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@font-face {
  font-family: BebasNeue;
  src: url(/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: hyberBlaster;
  src: url(/fonts/HYPERBLA.ttf);
}
@font-face {
  font-family: saint;
  src: url(/fonts/MrsSaintDelafield-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  /* font-family: BebasNeue; */
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#navbar.active {
  animation: fadeNav 0.6s linear forwards;
  @apply shadow-cardShadow h-24;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
